<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Kufam:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <style>
        .box{
            border: 2px solid grey;
            border-radius: 5px;
            padding: 10px;
            
        }
    </style>
</head>
<body>
<%- include("partials/header"); %>
<br><br>
<div class="container">
    <div class="jumbotron">
        <h1>Manage your blogs</h1>
    </div>
    <div class="row" style="display:flex;flex-wrap:wrap;">
        <% Object.keys(blogs).forEach(function(key){ %>
            <% var blog=blogs[key]; %>
            <div class="box col-md-4">
                <p style="font-weight: 500;font-size: 20px;text-align: center;"><%= blog.title %></p>
                <span style="position: relative;left: 25%;">
                    <a href="/blog/delete/<%= blog.id %>" class="btn btn-danger">Delete blog</a>
                    <a href="/blog/edit/<%= blog.id %>" class="btn btn-warning">Edit blog</a>
                </span>
            </div>
        <% }) %>
    </div>
</div>



<%- include("partials/footer"); %>