<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap" rel="stylesheet">
        <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
          }
          
          td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
          }
          
          tr:nth-child(even) {
            background-color: #dddddd;
          }
          </style>
    </head>
    <body>
        <%- include("partials/header"); %>

        <div class="container">
            <div class="row">
                <br><br>
                <div class="col-md-5">
                    <a class="btn btn-info" style="width: 100%;font-size: 35px;" href="/superuser">Add new Tutorial</a>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <a class="btn btn-info" style="width: 100%;font-size: 35px;" href="/superuser/tables">Edit Tutorials</a>
                </div>
            </div>
            <br><br>
        <p style="font-family: 'Playfair Display', serif;text-align:center;font-size:30px">Web Development using NodeJS</p>
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Likes</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <% Object.keys(nodejs).forEach(function(key){ %>
            <%  node=nodejs[key]; %>
            <tr>
                <td><%= node.id %></td>
                <td><%= node.title %></td>
                <td><%= node.likes %></td>
                <td><a class="btn btn-info" href="/superuser/edit/<%= node.section %>/<%= node.id %>">Edit</a></td>
                <td><a class="btn btn-danger" href="/superuser/delete/<%= node.section %>/<%= node.id %>">Delete</a></td>
            </tr>
            <% }); %>
        </table>

        <br><br>
        <p style="font-family: 'Playfair Display', serif;text-align:center;font-size:30px">Data Structures</p>
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Likes</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <% Object.keys(data).forEach(function(key){ %>
                <%  ds=data[key]; %>
                <tr>
                    <td><%= ds.id %></td>
                    <td><%= ds.title %></td>
                    <td><%= ds.likes %></td>
                    <td><a class="btn btn-info" href="/superuser/edit/<%= ds.section %>/<%= ds.id %>">Edit</a></td>
                    <td><a class="btn btn-danger" href="/superuser/delete/<%= ds.section %>/<%= ds.id %>">Delete</a></td>
                </tr>
            <% }); %>
        </table>

        <br><br>
        <p style="font-family: 'Playfair Display', serif;text-align:center;font-size:30px">Algorithms</p>
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Likes</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <% Object.keys(algo).forEach(function(key){ %>
                <%  alg=algo[key]; %>
                <tr>
                    <td><%= alg.id %></td>
                    <td><%= alg.title %></td>
                    <td><%= alg.likes %></td>
                    <td><a class="btn btn-info" href="/superuser/edit/<%= alg.section %>/<%= alg.id %>">Edit</a></td>
                    <td><a class="btn btn-danger" href="/superuser/delete/<%= alg.section %>/<%= alg.id %>">Delete</a></td>
                </tr>
            <% }); %>
        </table>

        </div>
    </body>
</html>