<html>
<head>
    <title>CODEIITA</title>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/codiita.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Kufam:wght@600&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <style>
        html,body{
            overflow-x: hidden;
        }
        #img-size{
            height: 5%;
        }
        .img-pos{
            position: absolute;
            left: -4.8%;
            top: 18%;
        }
        .form-comment{
            width: 30%;
            border: 2px solid grey;
            border-radius: 10px;
            width: 50%;
            height: 5%;
        }
    </style>
</head>
<body>
<%- include("partials/header"); %>
<%- include("partials/sidenavpush"); %>
<link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@700&display=swap" rel="stylesheet">

<a style="margin: 10px;" class="btn btn-danger" href="/tutorials">Back</a><br>


<% Object.keys(result2).forEach(function(key){ %>
<% var row = result2[key]; %>
<div class="container">
    <h1 style="text-align:center; font-family: 'Sansita Swashed', cursive; font-size: 50px;"><%= row.title %><br><br><br></h1>
    <div class="row">
        <div class="col-md-2">
            <% if(user==''){ %>
                <p>
                    <a href="#" onclick="runAlert()"><img src="/images/clap.png" width="30px"></a> 
                    <span style="font-size: 20px;color: rgb(134, 132, 132);"> <%=row.likes %></span>
                </p>
            <%} else{ %>
                <p><a href="/tutorials/<%= row.embedded %>/like"><img src="/images/clap.png" width="30px"></a> <span style="font-size: 20px;color: rgb(134, 132, 132);"> <%=row.likes %></span></p>
            <% } %>
        </div>
        <div class="col-md-8">
            <iframe width="120%" height="70%" src="https://www.youtube.com/embed/<%= row.embedded %>" 
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-2"></div>
    </div>
    <p><br><br><br></p>

</div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 box">
            
            <h2 style="font-family: 'Kaushan Script', cursive;font-size: 65px;">Comments</h2>
            <% if(user!=''){ %>
            <form action="/post_comment/<%= row.section %>/<%= row.embedded %>" method="POST">
                <input type="text" class="form-comment" name="comment">
            </form>
            <% } %>
        
            <% Object.keys(result3).forEach(function(key2){  %>
            <% var comment=result3[key2];  %>
                
            <div class="ui comments">
                <div class="comment">
                  <a class="avatar" id="img-size">
                    <img src="/images/avatar/small/stevie.jpg" height="9">
                  </a>
                  <div class="content">
                    <a class="author"><%= comment.author %></a>
                    <div class="metadata">
                      <div class="date">2 days ago</div>
                      <div class="rating">
                        
                            <img src="/images/clap.png" width="19px">
                            &ensp;<%= comment.likes %> claps
                        
                      </div>
                    </div>
                    <div class="text">
                      <%= comment.comment %>
                    </div>
                  </div>
                <% if(user==''){ %>
                        <a href="#" onclick="runAlert()">
                            <i style="color: greenyellow;" class="fas fa-arrow-circle-up img-pos fa-2x"></i>
                        </a>
                <%} else{ %>
                    <a href="/upvote/<%= comment.id %>/<%= comment.likes %>/<%= row.section %>/<%= row.embedded %>">
                        <i style="color: greenyellow;" class="fas fa-arrow-circle-up img-pos fa-2x"></i>
                    </a>
                    <% } %>
                </div>
              </div>
                  
            <% }) %>
                  
        
        <div class="col-md-2"></div>
    </div>
    



<% }); %>

<%- include("partials/sidenavpushjs"); %>
<%- include("partials/footer"); %>
<script>
    function runAlert(){
        swal({
  icon: "error",
  button:" Please login first",
});
    }
</script>